.container {
    max-width: 1150px
}

.tennis-fade {
    background: linear-gradient(180deg, rgba(0, 0, 0, .55), rgba(0, 0, 0, .35) 40%, rgba(0, 0, 0, .65))
}

.ball-shadow {
    box-shadow: 0 10px 30px rgba(244, 226, 27, .35)
}

html {
    scroll-behavior: smooth
}

.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
}
